* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: visible !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

#root {
  height: 100%;
  overflow: visible;
}


*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}