 body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #212121;

}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 280px;
  min-height: 100vh;
}

.login-image {
  width: 600px;
  height: auto;
}

.form-struct {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  width: 350px;
  height: auto;
}

input {
  width: 350px;
  height: 55px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  padding: 0 8px;
  font-size: 12px;
  background-color: #fafafa;
}

input:hover,
input:focus {
  outline: none;
  border: 1px solid #a8a8a8;
}

button {
  width: 268px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background-color: #0095f6;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  background-color: #1877f2;
}

button:active {
  background-color: #1877f2;
  opacity: 0.7;
}

#forgotpass,
#extra {
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 16px;
  cursor: pointer;
}

#extra {
  font-weight: 600;
  color: #385185;
}

#forgotpass {
  color: #00376b;
}

.divider {
  display: flex;
  align-items: center;
  width: 268px;
  margin: 16px 0;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dbdbdb;
}

.divider span {
  padding: 0 16px;
}

.signup-section {
  width: 350px;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
}

.signup-section p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.signup-link {
  color: #0095f6;
  text-decoration: none;
  font-weight: 600;
}

.signup-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .login-container {
    gap: 60px;
    padding: 0 20px;
  }

  .login-image {
    width: 380px;
  }

  .login-form {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    gap: 60px;
    padding: 0 20px;
  }

  .login-image {
    width: 300px;
  }

  .login-form {
    width: 300px;
  }

  input {
    width: 280px;
  }
}

@media screen and (max-width: 480px) {
  .login-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  .login-form,
  .signup-section {
    width: 90%;
    max-width: 350px;
    padding: 30px 20px;
  }

  input,
  button,
  .divider {
    width: 90%;
    max-width: 268px;
  }

  .login-image {
    display: none;
  }
  .signup-section{
    margin-top: -40px;
  }
} 
